@charset "utf-8";
/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,tbody,tfoot,td,th,caption,hr,h1,h2,h3,h4,h5,h6,img,input,select,option{
    margin:0;
    padding:0;
}
html{
    font-size: 24.691vw;
}
html,body{
    height: 100%;
}
body{
    font-family:"微软雅黑",Arial;
    background: #f4f5ef;
    display: flex;
    flex-direction:column;
}
a{
    text-decoration:none;
}
ul,ol{
    list-style:none;
}
img{
    border: none;
    display: block;
}
select,option,input{
    outline: none;
    border: none;
}
