@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?68c8g0');
  src:  url('fonts/icomoon.eot?68c8g0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?68c8g0') format('truetype'),
    url('fonts/icomoon.woff?68c8g0') format('woff'),
    url('fonts/icomoon.svg?68c8g0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hongbao:before {
  content: "\e900";
}
.icon-kefu:before {
  content: "\e901";
}
.icon-laba:before {
  content: "\e902";
}
.icon-shezhi:before {
  content: "\e903";
}
.icon-v-2:before {
  content: "\e904";
}
.icon-v:before {
  content: "\e905";
}
.icon-yaoqing:before {
  content: "\e906";
}
.icon-uniE907:before {
  content: "\e907";
}
.icon-1:before {
  content: "\e908";
}
.icon-2:before {
  content: "\e909";
}
.icon-3:before {
  content: "\e90a";
}
.icon-4:before {
  content: "\e90b";
}
.icon-_1:before {
  content: "\e90c";
}
.icon-5:before {
  content: "\e90d";
}
.icon-6:before {
  content: "\e90e";
}
.icon-7:before {
  content: "\e90f";
}
.icon-_11:before {
  content: "\e910";
}
.icon-8:before {
  content: "\e911";
}
.icon-9:before {
  content: "\e912";
}
.icon-10:before {
  content: "\e913";
}
.icon-11:before {
  content: "\e914";
}
.icon-12:before {
  content: "\e915";
}
.icon-13:before {
  content: "\e916";
}
.icon-14:before {
  content: "\e917";
}
.icon--1 .path1:before {
  content: "\e918";
  color: rgb(0, 0, 0);
}
.icon--1 .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon--1 .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(18, 0, 255);
}
.icon--1 .path4:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 0, 0);
}
.icon--1 .path5:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-15:before {
  content: "\e91d";
}
.icon-_12:before {
  content: "\e91e";
}
.icon-16:before {
  content: "\e91f";
}
.icon-17:before {
  content: "\e920";
}
.icon-18:before {
  content: "\e921";
}
.icon-19:before {
  content: "\e922";
}
.icon-20:before {
  content: "\e923";
}
.icon-21:before {
  content: "\e924";
}
.icon-22:before {
  content: "\e925";
}
.icon-23 .path1:before {
  content: "\e926";
  color: rgb(245, 245, 245);
}
.icon-23 .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(237, 76, 92);
}
.icon-41:before {
  content: "\e928";
}
.icon-24:before {
  content: "\e929";
}
.icon----:before {
  content: "\e92a";
}
.icon-25:before {
  content: "\e92b";
}
.icon-26:before {
  content: "\e92c";
}
.icon-_13:before {
  content: "\e92d";
}
.icon--11:before {
  content: "\e92e";
}
.icon-27:before {
  content: "\e92f";
}
.icon-28:before {
  content: "\e930";
}
.icon-29:before {
  content: "\e931";
}
.icon-30:before {
  content: "\e932";
}
.icon-31:before {
  content: "\e933";
}
.icon--12:before {
  content: "\e934";
}
.icon-32:before {
  content: "\e935";
}
.icon-33:before {
  content: "\e936";
}
.icon-34:before {
  content: "\e937";
}
.icon-35:before {
  content: "\e938";
}
.icon--:before {
  content: "\e939";
}
.icon-36:before {
  content: "\e93a";
}
.icon-37:before {
  content: "\e93b";
}
.icon-38:before {
  content: "\e93c";
}
.icon--2:before {
  content: "\e93d";
}
.icon-39:before {
  content: "\e93e";
}
.icon-40:before {
  content: "\e93f";
}
.icon-42:before {
  content: "\e940";
}
.icon-_14:before {
  content: "\e941";
}
.icon-43:before {
  content: "\e942";
}
.icon-_15:before {
  content: "\e943";
}
.icon-44:before {
  content: "\e944";
}
.icon-45:before {
  content: "\e945";
}
